.topicos {
  background: var(--azul-degrade);
  text-align: center;
}

.topicos-titulo {
  font-weight: 300;
  color: var(--branco);
  padding: 1.5em 0 1.5em 0;
}

.topicos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-item {
  margin: 2em 0.5em;
}

.topicos-link {
  color: var(--branco);
  padding: 1.5em;
  background-color: var(--laranja);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .topicos-titulo {
    font-size: 24px;
  }

  .topicos-lista {
    display: flexbox;
  }

  .topicos-link {
    font-size: 24px;
  }

  .lista-item {
    margin: 4em 1em;
  }
}

@media screen and (min-width: 1728px) {
  .topicos-titulo {
    font-size: 32px;
  }

  .topicos-lista{
    margin: 1em 30em;
  }
}
